<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- REQUIRED for OpenAI / any API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AgriVerse"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantDiseaseIdentifier"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <!-- WELCOME SCREEN -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HOME SCREEN -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- PLANT DISEASE SCREEN -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- INSECT DETECTION SCREEN -->
        <activity
            android:name=".InsectActivity"
            android:exported="false" />

        <!-- PLANT INFORMATION SCREEN -->
        <activity
            android:name=".PlantInfoActivity"
            android:exported="false" />

        <!-- NOTEPAD SCREEN -->
        <activity
            android:name=".NotepadActivity"
            android:exported="false" />

        <!-- CHATBOT SCREEN -->
        <activity
            android:name=".ChatActivity"
            android:exported="false" />

    </application>

</manifest>
